*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
} 

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}